.w {
  margin: var(--spacing-M);
}

.title {
  margin: var(--spacing-XS) 0;
  text-transform: capitalize;
}

.list,
.grid {
  gap: 1rem;
  margin: var(--spacing-XS);
}

.list {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
