.btn {
  align-items: center;
  color: light-dark(var(--color-neutral20), var(--color-neutral100));
  display: flex;
  justify-content: space-between;
  height: 4.2rem;
  gap: 0.8rem;
  padding: 0 var(--spacing-XS);
}

.btn[aria-selected='false']:hover {
  cursor: pointer;
}

.btn:focus {
  outline: 0.2rem solid currentColor;
  outline-offset: 0.2rem;
}

.pill {
  background-color: light-dark(var(--color-neutral100), var(--color-neutral20));
  border: 1px solid var(--color-neutral70);
  border-radius: 10rem;
}

.pill:hover {
  background-color: light-dark(var(--color-neutral90), var(--color-neutral30));
  border-color: var(--color-neutral60);
}

.pill:active {
  background-color: light-dark(var(--color-neutral80), var(--color-neutral40));
}

.pill[aria-selected='true'] {
  background-color: light-dark(var(--color-neutral20), var(--color-neutral100));
  border: none;
  color: light-dark(var(--color-neutral100), var(--color-neutral20));
}

.pill[aria-selected='true']:hover {
  background-color: light-dark(var(--color-neutral30), var(--color-neutral90));
}

.pill[aria-selected='true']:active {
  background-color: light-dark(var(--color-neutral40), var(--color-neutral80));
}

.pill[aria-selected='true']:focus,
.pill[aria-selected='true']:focus-visible,
.pill[aria-selected='true']:focus-within {
  outline-color: var(--color-neutral20);
}

.underline {
  background-color: transparent;
  border: none;
  border-radius: 0.2rem;
  position: relative;
}

.btn.underline {
  padding: 0;
}

.underline::after {
  background-color: transparent;
  border-radius: 10rem;
  content: '';
  display: block;
  height: 0.3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.underline:active::after,
.underline:focus::after,
.underline:focus-visible::after,
.underline:focus-within::after,
.underline:hover::after {
  background-color: var(--color-neutral60);
}

.underline[aria-selected='true']::after {
  background-color: currentColor;
}

@media screen and (min-width: 768px) {
  .btn {
    height: 5rem;
    gap: 1rem;
    padding: 0 var(--spacing-S);
  }
}
