:root {
  color-scheme: light dark;
  /* colors */
  --color-neutral100: #fff;
  --color-neutral90: #f6f6fa;
  --color-neutral80: #f1f1f7;
  --color-neutral70: #d3d3dc;
  --color-neutral60: #c4c5cf;
  --color-neutral50: #eee;
  --color-neutral40: #585d71;
  --color-neutral30: #343a4e;
  --color-neutral20: #1b2134;
  --color-neutral10: #111;
  --color-neutral0: #000;
  --color-positive: #b1ffc7;
  --color-negative: #ffbfb1;
  /*spacing*/
  --spacing-0: 0;
  --spacing-4XS: 0.2rem;
  --spacing-3XS: 0.4rem;
  --spacing-2XS: 0.8rem;
  --spacing-XS: 1.2rem;
  --spacing-S: 1.6rem;
  --spacing-M: 2rem;
  --spacing-L: 2.4rem;
  --spacing-XL: 3.2rem;
  --spacing-2XL: 4.8rem;
  /*globals*/
  --main-font-size: 1.2rem;
  --main-bg: light-dark(--color-neutral50, --color-neutral10);
  --main-text-color: light-dark(--color-neutral10, --color-neutral50);
  --tab-default-text-color: light-dark(var(--color-neutral20), var(--color-neutral100));
  --tab-pill-bg: light-dark(var(--color-neutral100), var(--color-neutral20));
  --tab-pill-hover-bg: light-dark(var(--color-neutral90), var(--color-neutral30));
  --tab-pill-active-bg: light-dark(var(--color-neutral80), var(--color-neutral40));
  --tab-pill-selected-bg: light-dark(var(--color-neutral20), var(--color-neutral100));
  --tab-pill-selected-hover-bg: light-dark(var(--color-neutral30), var(--color-neutral90));
  --tab-pill-selected-active-bg: light-dark(var(--color-neutral40), var(--color-neutral80));
  --tab-pill-selected-text-color: light-dark(var(--color-neutral100), var(--color-neutral20));
}

@supports not (color: light-dark(white, dark)) {
  :root {
    --main-bg: --color-neutral50;
    --main-text-color: --color-neutral10;
    --tab-default-text-color: var(--color-neutral20);
    --tab-pill-bg: var(--color-neutral100);
    --tab-pill-hover-bg: var(--color-neutral90);
    --tab-pill-active-bg: var(--color-neutral80);
    --tab-pill-selected-bg: var(--color-neutral20);
    --tab-pill-selected-hover-bg: var(--color-neutral30);
    --tab-pill-selected-active-bg: var(--color-neutral40);
    --tab-pill-selected-text-color: var(--color-neutral100);
  }

  @media screen and (prefers-color-scheme: dark) {
    :root {
      --main-bg: --color-neutral10;
      --main-text-color: --color-neutral50;
      --tab-default-text-color: var(--color-neutral100);
      --tab-pill-bg: var(--color-neutral20);
      --tab-pill-hover-bg: var(--color-neutral30);
      --tab-pill-active-bg: var(--color-neutral40);
      --tab-pill-selected-bg: var(--color-neutral100);
      --tab-pill-selected-hover-bg: var(--color-neutral90);
      --tab-pill-selected-active-bg: var(--color-neutral80);
      --tab-pill-selected-text-color: var(--color-neutral20);
    }
  }
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--main-bg);
  color: var(--main-text-color);
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: var(--main-font-size);
  font-style: normal;
  line-height: 150%;
}

@media screen and (min-width: 768px) {
  :root {
    --main-font-size: 1.4rem;
  }
}
